.taskInfo{
    position: relative;
    margin-top: -15px;
}
.task{
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    align-items: center;
    margin-top: -10px;
}

.map{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 39px;
}
.towns{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

}
.town{
    display: grid;
    grid-template-columns: 14px auto;
    grid-column-gap: 8px;
    align-items: end;
}
.answer{
    border-radius: 50%;
    width: 15px;
    height: 14px;
    border: 1px solid #fff;
    flex: 0 1 14px;

}
.name{
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2px;
}
.town:nth-child(1){
    margin-bottom: 30px;
    margin-left: 59px;
}
.town:nth-child(2){
    margin-bottom: 25px;
    margin-left: 38px;
}
.town:nth-child(3){
    margin-bottom: 8px;
    margin-left: 10px;
}
.town:nth-child(4)>.answer{
    width: 14px;
}