.main__points {
    position: relative;
    z-index: 3;

}

.points {
    display: grid;
    grid-template-rows: 40px auto;
    align-items: center;
}

.points__logo {
    width: 132px;
    object-fit: contain;
}
.points__balance {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;

}
.points__title {
    font-size: 15px;
    letter-spacing: 0.3px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.points__num {
    font-size: 35px;
    letter-spacing: 0.7px;
}