.taskInfo{
    margin-top: -10px;
    position: relative;
}
.task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 55px;
    position: relative;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
.task>.taskAnswer:nth-child(odd)
{
    justify-self: start;
}
.task>.taskAnswer:nth-child(even)
{
    justify-self: end;
}
.task>.taskAnswer:nth-child(3){
    margin-left: 12px;
}
.task>.taskAnswer:nth-child(4){
    margin-right: 32px;
}
.taskAnswer{
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: grabbing;
}
span.danger{
    color: #C00000;
}
.cart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}