.taskInfo{
    margin-top: -20px;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 16px;
}
.label{
    color: #FFF;
    font-family: Nipigaz Basic;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    --var-width: 0%;
}
.input{
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}
.label span{
    position: relative;
}
.input:checked ~ span::after{
    content:"";
    position: absolute;
    top: 43%;
    transform: translateY(-48%);
    left: 0;
    height: 1px;
    width: var(--var-width);
    background: #fff;
}