.taskInfo{
    position: relative;
    margin-top: -20px;
}

.task{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taskAnswer{
    display: flex;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
}
.taskAnswer span{
    margin-top: 4px;
}
.answer{
    position: relative;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, .5);
    width: 103px;
    height: 27.6px;
    align-self: center;


}
.answer .zero{
    position: absolute;
    top: 0;
    left: 0;
}

.taskZeros{
    margin-top: 20px;
    display: grid;
    grid-template-columns:81px 81px 103px 65px;
    grid-column-gap: 8px;

}
.zero{
    padding: 2px 2px 0px;
    border-radius: 7px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.48px;

    background: #008C95;
    
}
.none{
    opacity: 0;
}
.success {
    background: #99CC00;
}
.danger{
    background: #C00000;
}
