.taskInfo{
    margin-top: -20px;
    position: relative;

}
.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 11px;
}
.label{
    color: #FFF;
    font-family: Nipigaz Basic;
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
    --var-width: 0%;
}
.input{
    appearance: none;
}
.input~span{
    opacity: .5;
    position: relative;
}
.input:checked~span{
    opacity: 1;
}
.label .input:checked~span::after{
    content: "";
    position: absolute;
    transition: .3s easy;
    top: calc(100% - 3px);
    left: 0;
    width: var(--var-width);
    height: 1px;
    background: #fff;
}