.game {
    align-self: center;
    display: grid;
    grid-template-columns:136px 66px 66px 66px 66px;
    gap: 10px;
    grid-template-rows: repeat(4, 49px)
}
.game>*{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game__category {
    color: #FFF;
    font-family: Nipigaz Basic;
    font-size: 11.75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.235px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 15px;
    background:#008C95;
}
.game__item {
    color: #008C95;
    font-family: Nipigaz Basic;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    border: 2px solid #fff;
    border-radius: 15px;
    background: #FFF;
    text-align: center;
}
.game__item.disable{
    background-color: rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, .6);
}