.taskInfo{
    margin-top: -20px;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 11px;
}
.label{
    color: #FFF;
    font-family: Nipigaz Basic;
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 19px;
}
.input{
    appearance: none;
    width: 24px;
    height: 24px;
    background: url("../../../assets/images/logo.svg");
    background-size: cover;
    opacity: .5;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: start;
}

.input:checked{
    opacity: 1;
}