@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');
@import url('assets/fonts/fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nipigaz Basic', sans-serif;
}

#root {
    background: linear-gradient(rgba(0, 97, 103, 0.8), rgba(0, 97, 103, 0.8)), url('./assets/images/bg.png');
    background-repeat: repeat, no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 357px;
    -youbkit-touch-callout: none;
    -youbkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn {
    color: #008C95;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    width: 122px;
    padding: 14px 0px;
    background: #fff;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media ((max-width: 900px) and (orientation: landscape)) or ((max-width: 450px) and (orientation: portrait)) {
    #root {
        background: linear-gradient(rgba(0, 97, 103, 0.8), rgba(0, 97, 103, 0.8)), url('./assets/images/bg-mobile.png');
        background-repeat: repeat, no-repeat;
        background-size: cover;
    }
}

@media screen and (orientation:portrait) {
    #root {
        background-position-x: 33%;
    }

    .main__btn {
        display: none;
    }
}

.main {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding-top: 41px;
    width: 95%;
    height: 100%;
    justify-items: center;
    position: relative;
}

.blur {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}

.blur.active {
    display: block;
}