.task__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.subtitels {
    color: #FFF;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.points {
    color: #FFF;
    font-size: 49px;
    font-weight: 700;
    letter-spacing: 0.98px;
}

.contact {
    position: absolute;
    width: calc(100% + 10px);
    height: 316px;
    background: #fff;
    top: 0;
    left: -5px;
    z-index: -1;
    border: 5px solid #008C95;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 0px 30px 55px 44px;
}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;

}

.contactInfo img {
    width: 61px;
    height: 61px;
    object-fit: cover;
}

.contactText {
    color: #008C95;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.btnEnd {
    display: block;
    color: #fff;
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: -4px;
    left: calc(100% / 2 - 93px);
    cursor: pointer;
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 999;
    text-align: center;
    width: 122px;
    padding: 14px 0px;
    background: #008C95;
    width: 186px;
}

@media ((max-height: 550px) and (orientation: landscape)) {
    .contact {
        align-items: center;
        padding-bottom: 65px;
    }

    .contactInfo img {
        display: none;
    }

    .contactText {
        text-align: center;
    }
}